<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaowei.sys.platform.core.common.dal.mapper.DBPreCheckMapper">
    <select id="dbColumnCheck" resultType="String">
        SELECT CONCAT('表结构不一致 tbName:',tb_name,' 期望字段:',exp_columns,' 数据库中字段:',db_columns) as msg
        FROM (
        SELECT
            COUNT(*)= 13 as fg,'SYS_DICTIONARY_DATA' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,UUID,DEL_FLAG,CODE_NAME,CREATE_BY,PARENT_ID,UPDATE_BY,CODE_LEVEL,CODE_VALUE,CODE_REMAKE,SERIAL_NUMBER,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'SYS_DICTIONARY_DATA'
            AND COLUMN_NAME in('ID','UUID','DEL_FLAG','CODE_NAME','CREATE_BY','PARENT_ID','UPDATE_BY','CODE_LEVEL','CODE_VALUE','CODE_REMAKE','SERIAL_NUMBER','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 9 as fg,'sys_role_user' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,ROLE_ID,USER_ID,DEL_FLAG,CREATE_BY,UPDATE_BY,SYS_ROLE_USER_UUID,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_role_user'
            AND COLUMN_NAME in('ID','ROLE_ID','USER_ID','DEL_FLAG','CREATE_BY','UPDATE_BY','SYS_ROLE_USER_UUID','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 10 as fg,'sys_role' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,REMARK,DEL_FLAG,CREATE_BY,UPDATE_BY,SYS_ROLE_NAME,SYS_ROLE_TYPE,SYS_ROLE_UUID,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_role'
            AND COLUMN_NAME in('ID','REMARK','DEL_FLAG','CREATE_BY','UPDATE_BY','SYS_ROLE_NAME','SYS_ROLE_TYPE','SYS_ROLE_UUID','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 5 as fg,'sys_login_log' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,USER_ID,USER_IP,USER_LOGIN_NAME,CREATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_login_log'
            AND COLUMN_NAME in('ID','USER_ID','USER_IP','USER_LOGIN_NAME','CREATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 12 as fg,'sys_parameter_configuration' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,UUID,DEL_FLAG,CREATE_BY,UPDATE_BY,FIELD_VALUE,PARAMETER_NAME,PARAMETER_VALUE,PARAMETER_REMAKE,SERIAL_NUMBER,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_parameter_configuration'
            AND COLUMN_NAME in('ID','UUID','DEL_FLAG','CREATE_BY','UPDATE_BY','FIELD_VALUE','PARAMETER_NAME','PARAMETER_VALUE','PARAMETER_REMAKE','SERIAL_NUMBER','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 9 as fg,'sys_area_user' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,SYS_AREA_ID,SYS_USER_ID,DEL_FLAG,CREATE_BY,UPDATE_BY,SYS_USER_AREA_UUID,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_area_user'
            AND COLUMN_NAME in('ID','SYS_AREA_ID','SYS_USER_ID','DEL_FLAG','CREATE_BY','UPDATE_BY','SYS_USER_AREA_UUID','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 7 as fg,'sys_standard_details' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,DETAILS_ID,DEL_FLAG,MAX_PARM,MIN_PARM,DETAIL_NAME,DETAIL_UUID' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_standard_details'
            AND COLUMN_NAME in('ID','DETAILS_ID','DEL_FLAG','MAX_PARM','MIN_PARM','DETAIL_NAME','DETAIL_UUID')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 17 as fg,'SYS_USER' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,AREA_ID,DEPT_ID,DEL_FLAG,NAME_TOP,CREATE_BY,UPDATE_BY,NAME_BOTTOM,SYS_USER_PWD,SYS_USER_NAME,SYS_USER_UUID,SYS_USER_EMAIL,SYS_USER_PHONE,SYS_USER_AUTH_SALT,IS_THIRD,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'SYS_USER'
            AND COLUMN_NAME in('ID','AREA_ID','DEPT_ID','DEL_FLAG','NAME_TOP','CREATE_BY','UPDATE_BY','NAME_BOTTOM','SYS_USER_PWD','SYS_USER_NAME','SYS_USER_UUID','SYS_USER_EMAIL','SYS_USER_PHONE','SYS_USER_AUTH_SALT','IS_THIRD','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 15 as fg,'sys_acl_module' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,SYS_ACL_MODULE_PARENT_ID,DEL_FLAG,CREATE_BY,UPDATE_BY,SYS_ACL_MODULE_CODE,SYS_ACL_MODULE_ICON,SYS_ACL_MODULE_NAME,SYS_ACL_MODULE_UUID,SYS_ACL_MODULE_LEVEL,SYS_ACL_MODULE_REMARK,SYS_ACL_MODULE_SEQ,SYS_ACL_MODULE_TYPE,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_acl_module'
            AND COLUMN_NAME in('ID','SYS_ACL_MODULE_PARENT_ID','DEL_FLAG','CREATE_BY','UPDATE_BY','SYS_ACL_MODULE_CODE','SYS_ACL_MODULE_ICON','SYS_ACL_MODULE_NAME','SYS_ACL_MODULE_UUID','SYS_ACL_MODULE_LEVEL','SYS_ACL_MODULE_REMARK','SYS_ACL_MODULE_SEQ','SYS_ACL_MODULE_TYPE','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 9 as fg,'sys_role_acl' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,SYS_ACL_ID,SYS_ROLE_ID,DEL_FLAG,CREATE_BY,UPDATE_BY,SYS_ROLE_ACL_UUID,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_role_acl'
            AND COLUMN_NAME in('ID','SYS_ACL_ID','SYS_ROLE_ID','DEL_FLAG','CREATE_BY','UPDATE_BY','SYS_ROLE_ACL_UUID','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 13 as fg,'sys_area' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,SYS_AREA_CODE_NUM,SYS_AREA_PARENT_ID,DEL_FLAG,CREATE_BY,UPDATE_BY,SYS_AREA_NAME,SYS_AREA_UUID,SYS_AREA_LEVEL,SYS_AREA_REMARK,SYS_AREA_SEQ,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_area'
            AND COLUMN_NAME in('ID','SYS_AREA_CODE_NUM','SYS_AREA_PARENT_ID','DEL_FLAG','CREATE_BY','UPDATE_BY','SYS_AREA_NAME','SYS_AREA_UUID','SYS_AREA_LEVEL','SYS_AREA_REMARK','SYS_AREA_SEQ','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 19 as fg,'sys_acl' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,SYS_ACL_MODULE_ID,NAME,REMARK,DEL_FLAG,CREATE_BY,UPDATE_BY,SYS_ACL_URL,SYS_ACL_CODE,SYS_ACL_ICON,SYS_ACL_NAME,SYS_ACL_TYPE,SYS_ACL_UUID,SYS_ACL_ACTION,SYS_ACL_ROUTER,SYS_ACL_SEQ,SYS_ACL_PERMISSION_TYPE,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_acl'
            AND COLUMN_NAME in('ID','SYS_ACL_MODULE_ID','NAME','REMARK','DEL_FLAG','CREATE_BY','UPDATE_BY','SYS_ACL_URL','SYS_ACL_CODE','SYS_ACL_ICON','SYS_ACL_NAME','SYS_ACL_TYPE','SYS_ACL_UUID','SYS_ACL_ACTION','SYS_ACL_ROUTER','SYS_ACL_SEQ','SYS_ACL_PERMISSION_TYPE','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 9 as fg,'sys_standard_type' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,DEL_FLAG,CODE_NAME,CREATE_BY,UPDATE_BY,CODE_VALUE,PARENT_VALUE,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_standard_type'
            AND COLUMN_NAME in('ID','DEL_FLAG','CODE_NAME','CREATE_BY','UPDATE_BY','CODE_VALUE','PARENT_VALUE','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 9 as fg,'sys_standard' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,DEL_FLAG,CREATE_BY,UPDATE_BY,STANDARD_NAME,STANDARD_UUID,STANDARD_TYPEID,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'sys_standard'
            AND COLUMN_NAME in('ID','DEL_FLAG','CREATE_BY','UPDATE_BY','STANDARD_NAME','STANDARD_UUID','STANDARD_TYPEID','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
    UNION ALL
        SELECT
            COUNT(*)= 13 as fg,'SYS_DEPT' as tb_name,group_concat(COLUMN_NAME) db_columns,
            'ID,SYS_DEPT_CODE_NAME,SYS_DEPT_PARENT_ID,DEL_FLAG,CREATE_BY,UPDATE_BY,SYS_DEPT_NAME,SYS_DEPT_UUID,SYS_DEPT_LEVEL,SYS_DEPT_REMARK,SYS_DEPT_SEQ,CREATE_TIME,UPDATE_TIME' exp_columns
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_NAME = 'SYS_DEPT'
            AND COLUMN_NAME in('ID','SYS_DEPT_CODE_NAME','SYS_DEPT_PARENT_ID','DEL_FLAG','CREATE_BY','UPDATE_BY','SYS_DEPT_NAME','SYS_DEPT_UUID','SYS_DEPT_LEVEL','SYS_DEPT_REMARK','SYS_DEPT_SEQ','CREATE_TIME','UPDATE_TIME')
        GROUP BY TABLE_NAME
        )a
        WHERE fg=0
    </select>
</mapper>
