<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaowei.sys.platform.core.common.dal.mapper.SysDictionaryDataDOMapper">
    <!-- 自动生成,请修改 SYS_DICTIONARY_DATA.xml -->
    <resultMap id="BaseResultMap"  type="com.xiaowei.sys.platform.core.common.dal.dataobject.SysDictionaryDataDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="UUID" property="uuid" jdbcType="VARCHAR" javaType="String"/>
        <result column="DEL_FLAG" property="delFlag" jdbcType="CHAR" javaType="String"/>
        <result column="CODE_NAME" property="codeName" jdbcType="VARCHAR" javaType="String"/>
        <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" javaType="String"/>
        <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" javaType="String"/>
        <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" javaType="String"/>
        <result column="CODE_LEVEL" property="codeLevel" jdbcType="VARCHAR" javaType="String"/>
        <result column="CODE_VALUE" property="codeValue" jdbcType="VARCHAR" javaType="String"/>
        <result column="CODE_REMAKE" property="codeRemake" jdbcType="VARCHAR" javaType="String"/>
        <result column="SERIAL_NUMBER" property="serialNumber" jdbcType="INTEGER" javaType="Integer"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <resultMap id="dictionaryTreeResult"  type="com.xiaowei.sys.platform.core.common.dal.resultmap.DictionaryTreeResult" >
        <id column="id" property="id"  javaType="Long"/>
        <result column="UUID" property="uuid"  javaType="String"/>
        <result column="LABEL" property="label"  javaType="String"/>
        <result column="DEL_FLAG" property="delFlag"  javaType="String"/>
        <result column="CODE_NAME" property="codeName"  javaType="String"/>
        <result column="PARENT_ID" property="parentId"  javaType="String"/>
        <result column="CODE_LEVEL" property="codeLevel"  javaType="String"/>
        <result column="code_value" property="codeValue"  javaType="String"/>
        <result column="SERIAL_NUMBER" property="serialNumber"  javaType="Integer"/>
    </resultMap>
    <resultMap id="getDictionaryInfoByUuid"  type="com.xiaowei.sys.platform.core.common.dal.resultmap.GetDictionaryInfoByUuid" >
        <id column="id" property="id"  javaType="Long"/>
        <result column="UUID" property="uuid"  javaType="String"/>
        <result column="LABEL" property="label"  javaType="String"/>
        <result column="DEL_FLAG" property="delFlag"  javaType="String"/>
        <result column="CODE_NAME" property="codeName"  javaType="String"/>
        <result column="PARENT_ID" property="parentId"  javaType="String"/>
        <result column="CODE_LEVEL" property="codeLevel"  javaType="String"/>
        <result column="CODE_VALUE" property="codeValue"  javaType="String"/>
        <result column="SERIAL_NUMBER" property="serialNumber"  javaType="Integer"/>
    </resultMap>
    <resultMap id="GetDictionaryInfoByCodeValue"  type="com.xiaowei.sys.platform.core.common.dal.resultmap.GetDictionaryInfoByCodeValue" >
        <id column="id" property="id"  javaType="Long"/>
        <result column="UUID" property="uuid"  javaType="String"/>
        <result column="LABEL" property="label"  javaType="String"/>
        <result column="DEL_FLAG" property="delFlag"  javaType="String"/>
        <result column="CODE_NAME" property="codeName"  javaType="String"/>
        <result column="PARENT_ID" property="parentId"  javaType="String"/>
        <result column="CODE_LEVEL" property="codeLevel"  javaType="String"/>
        <result column="CODE_VALUE" property="codeValue"  javaType="String"/>
        <result column="SERIAL_NUMBER" property="serialNumber"  javaType="Integer"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,UUID,DEL_FLAG,CODE_NAME,CREATE_BY,PARENT_ID,UPDATE_BY,CODE_LEVEL,CODE_VALUE,CODE_REMAKE,SERIAL_NUMBER,CREATE_TIME,UPDATE_TIME
    </sql>

    <sql id="Base_SF_Column_List">
        sf.ID,sf.UUID,sf.DEL_FLAG,sf.CODE_NAME,sf.CREATE_BY,sf.PARENT_ID,sf.UPDATE_BY,sf.CODE_LEVEL,sf.CODE_VALUE,sf.CODE_REMAKE,sf.SERIAL_NUMBER,sf.CREATE_TIME,sf.UPDATE_TIME
    </sql>


    <!--插入表:SYS_DICTIONARY_DATA-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO SYS_DICTIONARY_DATA(
        UUID
        ,DEL_FLAG
        ,CODE_NAME
        ,CREATE_BY
        ,UPDATE_BY
        ,PARENT_ID
        ,CODE_VALUE
        ,SERIAL_NUMBER
        ,CREATE_TIME
        ,UPDATE_TIME
        )VALUES(
        #{uuid,jdbcType=VARCHAR}
        ,#{delFlag,jdbcType=CHAR}
        ,#{codeName,jdbcType=VARCHAR}
        ,#{createBy,jdbcType=VARCHAR}
        ,#{updateBy,jdbcType=VARCHAR}
        ,#{parentId,jdbcType=INTEGER}
        ,#{codeValue,jdbcType=INTEGER}
        ,#{serialNumber,jdbcType=INTEGER}
        ,#{createTime,jdbcType=TIMESTAMP}
        ,#{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--更新表:SYS_DICTIONARY_DATA-->
    <update id="update" >
        UPDATE /*MS-SYS-DICTIONARY-DATA-UPDATE*/ SYS_DICTIONARY_DATA
        SET
        UUID = #{uuid,jdbcType=VARCHAR}
        ,DEL_FLAG = #{delFlag,jdbcType=CHAR}
        ,CODE_NAME = #{codeName,jdbcType=VARCHAR}
        ,CREATE_BY = #{createBy,jdbcType=VARCHAR}
        ,UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
        ,PARENT_ID = #{parentId,jdbcType=INTEGER}
        ,CODE_VALUE = #{codeValue,jdbcType=VARCHAR}
        ,SERIAL_NUMBER = #{serialNumber,jdbcType=INTEGER}
        ,CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
        ,UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        WHERE
        ID = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:SYS_DICTIONARY_DATA-->
    <delete id="deleteById" >
        DELETE /*MS-SYS-DICTIONARY-DATA-DELETEBYID*/ FROM SYS_DICTIONARY_DATA
        WHERE
        ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:SYS_DICTIONARY_DATA-->
    <select id="getById" resultMap="BaseResultMap">
        SELECT /*MS-SYS-DICTIONARY-DATA-GETBYID*/  <include refid="Base_Column_List" /> FROM sys_dictionary_data
        WHERE
        ID = #{id,jdbcType=BIGINT}
    </select>

    <!--更新表:sys_dictionary_data-->
    <select id="saveDictionary" resultMap="BaseResultMap">
        insert into sys_dictionary_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="codeName != null">
                code_name,
            </if>
            <if test="codeValue != null">
                code_value,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="codeLevel != null">
                code_level,
            </if>
            <if test="serialNumber != null">
                serial_number,
            </if>
            <if test="codeRemake != null">
                code_remake,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="codeName != null">
                #{codeName,jdbcType=VARCHAR},
            </if>
            <if test="codeValue != null">
                #{codeValue,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="codeLevel != null">
                #{codeLevel,jdbcType=VARCHAR},
            </if>
            <if test="serialNumber != null">
                #{serialNumber,jdbcType=INTEGER},
            </if>
            <if test="codeRemake != null">
                #{codeRemake,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </select>

    <!--同一层级下，代码名称是否相同-->
    <select id="getBycodeNameAndByparentId" resultType="int">
        SELECT /*MS-SYS-DICTIONARY-DATA-GETBYCODENAMEANDBYPARENTID*/  COUNT(id)
        FROM sys_dictionary_data
        <trim prefix="WHERE" prefixOverrides="AND || OR">
            <if test="codeName!=null">
                AND code_name=#{codeName,jdbcType=VARCHAR}
            </if>
            <if test="parentId!=null">
                AND parent_id=#{parentId,jdbcType=VARCHAR}
            </if>
            AND del_flag=0
        </trim>
    </select>

    <!--树形字典架构-->
    <select id="dictionaryTree" resultMap="dictionaryTreeResult">
        SELECT /*MS-SYS-DICTIONARY-DATA-DICTIONARYTREE*/  DEL_FLAG, id
        ,CODE_NAME LABEL
        ,CODE_NAME
        ,UUID
        ,CODE_LEVEL
        ,SERIAL_NUMBER
        ,PARENT_ID
        ,code_value
        FROM sys_dictionary_data
    </select>

    <!--根据UUID获取数据:sys_dictionary_data-->
    <select id="getByUuid" resultMap="BaseResultMap">
        SELECT
        id, uuid, code_name, code_value, parent_id, code_level, serial_number, code_remake,
        del_flag, create_time, create_by, update_time, update_by
        FROM sys_dictionary_data
        WHERE
        uuid = #{uuid,jdbcType=VARCHAR}
    </select>

    <!--查询子级字典-->
    <select id="getChildDictionaryListByLevel" resultMap="BaseResultMap">
        SELECT
        id, uuid, code_name, code_value, parent_id, code_level, serial_number, code_remake,
        del_flag, create_time, create_by, update_time, update_by
        FROM sys_dictionary_data
        WHERE code_level LIKE CONCAT( #{level,jdbcType=VARCHAR}, '%') AND del_flag=0
    </select>

    <!--跟新字典信息-->
    <update id="updateDictionary" >
        update /*MS-SYS-DICTIONARY-DATA-UPDATEDICTIONARY*/ sys_dictionary_data
        <set>
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="codeName != null">
                code_name = #{codeName,jdbcType=VARCHAR},
            </if>
            <if test="codeValue != null">
                code_value = #{codeValue,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="codeLevel != null">
                code_level = #{codeLevel,jdbcType=VARCHAR},
            </if>
            <if test="serialNumber != null">
                serial_number = #{serialNumber,jdbcType=INTEGER},
            </if>
            <if test="codeRemake != null">
                code_remake = #{codeRemake,jdbcType=VARCHAR},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        where uuid = #{uuid,jdbcType=VARCHAR}
    </update>

    <!--字典更新之后，进行批量子级字典-->
    <update id="updatebatchUpdateLevel" >
        <foreach collection="list" item="sysDictionary" separator=";">
            UPDATE /*MS-SYS-DICTIONARY-DATA-UPDATEBATCHUPDATELEVEL*/ sys_dictionary_data
            SET
            CODE_LEVEL = #{sysDictionary.codeLevel,jdbcType=VARCHAR}
            ,CREATE_BY = #{sysDictionary.createBy,jdbcType=VARCHAR}
            ,UPDATE_BY = #{sysDictionary.updateBy,jdbcType=VARCHAR}
            ,CREATE_TIME = #{sysDictionary.createTime,jdbcType=TIMESTAMP}
            ,UPDATE_TIME = #{sysDictionary.updateTime,jdbcType=TIMESTAMP}
            WHERE id = #{sysDictionary.id,jdbcType=BIGINT}
        </foreach>
    </update>

    <!--根据uuid查看字典信息-->
    <select id="getDictionaryInfoByUuid" resultMap="getDictionaryInfoByUuid">
        SELECT
        id, uuid, code_name, code_value, parent_id, code_level, serial_number, code_remake,
        del_flag, create_time, create_by, update_time, update_by
        FROM sys_dictionary_data
        WHERE uuid=#{uuid,jdbcType=VARCHAR} AND del_flag=0
    </select>

    <!--根据codeValue查看字典信息-->
    <select id="getDictionaryInfoByCodeValue" resultMap="GetDictionaryInfoByCodeValue">
        SELECT
        id, parent_id, code_name, code_value, del_flag, create_time, create_by, update_time,
        update_by, uuid, serial_number, code_level
        FROM sys_dictionary_data
        WHERE code_value=#{codeValue,jdbcType=VARCHAR} AND del_flag=0
    </select>

    <!--根据parentId查询-->
    <select id="getDictionaryInfoByParentId" resultMap="BaseResultMap">
        SELECT
        id, parent_id, code_name, code_value, del_flag, create_time, create_by, update_time,
        update_by, uuid, serial_number, code_level
        FROM sys_dictionary_data
        WHERE parent_id=#{parentId,jdbcType=VARCHAR} AND del_flag=0
    </select>

    <!--根据 字典字段值值 全局唯一-->
    <select id="getDictionaryCodeValue" resultType="Integer">
        SELECT /*MS-SYS-DICTIONARY-DATA-GETDICTIONARYCODEVALUE*/  count(id) FROM sys_dictionary_data
        <trim prefix="WHERE" prefixOverrides="AND || OR">
            <!--<if test="id!=null">-->
            <!--id=#{id,parentId,jdbcType=BIGINT}-->
            <!--</if>-->
            <if test="codeValue!=null">
                code_value=#{codeValue,jdbcType=VARCHAR}
            </if>
            <if test="uuid!=null">
                uuid=#{uuid,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>

    <!--根据id列表查询-->
    <select id="getDictByIds" resultMap="BaseResultMap">
        select
            id, uuid, code_name, code_value, parent_id,
            FROM sys_dictionary_data
            <trim prefix="WHERE" prefixOverrides="AND || OR">
                   AND del_flag=0
                <if test="list!=null and list.size()!=0">
                   AND id in
                    <foreach collection="list" item="ids" open="(" close=")" separator=",">
                        #{ids.id,jdbcType=BIGINT}
                    </foreach>
                </if>
            </trim>
    </select>

    <!--根据 父级id 获取数据:SYS_DICTIONARY-->
    <select id="getLevelByParentId" resultMap="BaseResultMap">
        SELECT
        id, uuid, code_name, code_value, parent_id, code_level, serial_number, code_remake,
        del_flag, create_time, create_by, update_time, update_by
        FROM sys_dictionary_data
        WHERE
        code_value=#{codeValue,jdbcType=VARCHAR}
        and del_flag=0
    </select>

    <!--模糊分页查询字典列表 pageCount-->
    <select id="allDictionaryListPageCount"  resultType="int">
        SELECT
          COUNT(*) AS total 
        FROM
 sys_dictionary_data
        <trim prefix="WHERE" prefixOverrides="AND || OR">
            <if test="delFlag!=null">
                del_flag=#{delFlag,jdbcType=CHAR}
            </if>
            <if test="codeName!=null and codeName.trim()!='' ">
                AND code_name concat like('%',#{codeName,jdbcType=VARCHAR},'%')
            </if>
        </trim>
        
    </select>
    <!--模糊分页查询字典列表 pageResult-->
    <select id="allDictionaryListPageResult"  resultMap="BaseResultMap">
        select /*MS-SYS-DICTIONARY-DATA-ALLDICTIONARYLISTPAGE*/ uuid,code_name,code_value,del_flag
        from sys_dictionary_data
        <trim prefix="WHERE" prefixOverrides="AND || OR">
            <if test="delFlag!=null">
                del_flag=#{delFlag,jdbcType=CHAR}
            </if>
            <if test="codeName!=null and codeName.trim()!='' ">
                AND code_name concat like('%',#{codeName,jdbcType=VARCHAR},'%')
            </if>
        </trim>
        order by create_time desc
        limit #{startRow},#{limit}
    </select>

    <!--根据code_value集合 分批查询孙子 数据字典-->
    <select id="getChildDictByCodevalue" resultMap="BaseResultMap">
        select /*MS-SYS-DICTIONARY-DATA-GETCHILDDICTBYCODEVALUE*/ id,uuid,code_name,code_value,parent_id
        from sys_dictionary_data
        <trim prefixOverrides="and" prefix="where">
            <if test="parentId!=null and parentId.trim()!=''">
               and parent_id = #{parentId,jdbcType=VARCHAR}
            </if>
            <if test="delFlag!=null">
              and  del_flag=#{delFlag,jdbcType=CHAR}
            </if>
        </trim>
    </select>

    <!--根据code_value集合 分批查询孙子 数据字典 pageCount-->
    <select id="getChildDictByCodevaluePagingCount"  resultType="int">
        SELECT
          COUNT(*) AS total 
        FROM
 sys_dictionary_data
        <trim prefixOverrides="and" prefix="where">
            <if test="parentId!=null and parentId.trim()!=''">
                and parent_id = #{parentId,jdbcType=VARCHAR}
            </if>
            <if test="codeName!=null and codeName.trim()!=''">
                and code_name LIKE CONCAT('%',#{codeName,jdbcType=VARCHAR},'%')
            </if>
            <if test="codeValue!=null and codeValue.trim()!=''">
                and code_value LIKE CONCAT('%',#{codeValue,jdbcType=VARCHAR},'%')
            </if>
            <if test="delFlag!=null">
                and  del_flag=#{delFlag,jdbcType=CHAR}
            </if>
        </trim>
        
    </select>
    <!--根据code_value集合 分批查询孙子 数据字典 pageResult-->
    <select id="getChildDictByCodevaluePagingResult"  resultMap="BaseResultMap">
        select /*MS-SYS-DICTIONARY-DATA-GETCHILDDICTBYCODEVALUEPAGING*/ id,uuid,code_name,code_value,parent_id
        from sys_dictionary_data
        <trim prefixOverrides="and" prefix="where">
            <if test="parentId!=null and parentId.trim()!=''">
                and parent_id = #{parentId,jdbcType=VARCHAR}
            </if>
            <if test="codeName!=null and codeName.trim()!=''">
                and code_name LIKE CONCAT('%',#{codeName,jdbcType=VARCHAR},'%')
            </if>
            <if test="codeValue!=null and codeValue.trim()!=''">
                and code_value LIKE CONCAT('%',#{codeValue,jdbcType=VARCHAR},'%')
            </if>
            <if test="delFlag!=null">
                and  del_flag=#{delFlag,jdbcType=CHAR}
            </if>
        </trim>
        ORDER BY create_time desc
        limit #{startRow},#{limit}
    </select>

    <!--通过id查询字典-->
    <select id="getDictById" resultMap="BaseResultMap">
        select /*MS-SYS-DICTIONARY-DATA-GETDICTBYID*/ <include refid="Base_Column_List" /> from
        sys_dictionary_data
        where
        id=#{id,jdbcType=BIGINT}
        and del_flag=0
    </select>
</mapper>
